# The .env file for the interface project. Copy this file to `.env` and edit the values as needed.

# The URL path to the directory containing static assets, relative to the web root.
ASSET_PATH='/static/'

# Name of the setup script to use, without file extension.
# The script must be located in `src/setups/` and be named `<name>.ts`.
SETUP='default'
