# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
build
dist
dist-ssr
local
public/*/*
vendor
*.local
package-lock.json

# Environment files
.env

# Project specific setup scripts
/src/setups/*
!/src/setups/default.ts
!/src/setups/standalone.ts

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

.DS_Store
._*
